body {
  background-color: #a47864;
  text-align: center;
  color: white;
  justify-items: center;
  padding: 100px;
}

#root {
  justify-items: center;
}

#site-name > span {
  color: yellow;
}

.watched {
  background-color: #01000030;
}

.watched-movie-btn {
  background-color: #01000030;
}

.rating-star {
  color: rgb(186, 166, 21);
}

#filter-block {
  width: 300px;
  display: flex;
  justify-items: center;
  flex-direction: column;
}

#movies-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  margin: 10px;
}

#movies-container > div {
  transition: 0.1s ease-in-out;
  padding: 10px;
}

#movies-container > div:hover {
  background-color: #0004;
}

.header-name {
  border: 1px solid rgb(139, 122, 14);
  height: 30px;
  padding: 3px 25px;
  display: flex;
  flex-direction: row;
  clip-path: polygon(
    1% 50%,
    15px 0%,
    calc(100% - 15px) 0%,
    99% 50%,
    calc(100% - 15px) 100%,
    15px 100%
  );
  background-color: #fd4;
  overflow: visible;
  min-width: 150px;
  text-align: center;
  line-height: 0;
  align-content: center;
  display: inline-block;
  position: relative;
  color: white;
  font-weight: 500;
  font-size: 1.4rem;
  letter-spacing: 0.3rem;
}

.details-dropdown-buttons-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;

  button {
    width: 200px;
    margin: 4px;
    height: 25px;
  }
}

button {
  clip-path: polygon(
    1% 50%,
    15px 0%,
    calc(100% - 15px) 0%,
    99% 50%,
    calc(100% - 15px) 100%,
    15px 100%
  );
  background-color: rgb(255, 236, 152);
  border: none;
  transition: 0.1s ease-in-out;
  padding: 5px 25px;
  position: relative;
  overflow: visible;
}

/*button::after {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  right: 0;
  width: 18px;
  height: 100%;
  display: block;
  background-color: brown;
}*/

button:hover:not(.watched-movie-btn) {
  background-color: rgb(251, 226, 113);
}

.banana-selected {
  fill: yellow;
}

.banana-not-selected {
  fill: rgb(141, 185, 53);
}

.new-movie-form-container {
  background-color: #ddd5;
  backdrop-filter: blur(5px);
  position: absolute;
  top: 0%;
  left: 0%;
  height: 100vh;
  width: calc(100vw - 100px);
  text-align: center;
  padding: 50px;
}

input {
  clip-path: polygon(
    1% 50%,
    15px 0%,
    calc(100% - 15px) 0%,
    99% 50%,
    calc(100% - 15px) 100%,
    15px 100%
  );
  background-color: rgb(255, 236, 152);
  border: none;
  padding: 5px 25px;
  font-size: 1rem;
  font-weight: 500;
  color: black;
  outline: none;
  transition: 0.1s ease-in-out;
  width: 200px;
  text-align: center;
}

input:focus {
  background-color: rgb(251, 226, 113);
}

label {
  color: white;
  font-weight: 500;
  font-size: 1.1rem;
  letter-spacing: 0.15rem;
  margin-bottom: 5px;
  display: block;
}

.error-p {
  color: rgb(228, 0, 0);
}

#genres-container {
  border: 1px solid brown;
  border-radius: 10px;
  width: 20rem;
  margin: 10px auto;
  background-color: rgb(255, 236, 152);
  color: black;
}
