body {
  background-color: #a47864;
  text-align: center;
  color: white;
  justify-items: center;
  padding: 100px;
}

#root {
  justify-items: center;
}

#site-name > span {
  color: yellow;
}

.watched {
  background-color: #01000030;
}

.watched-movie-btn {
  background-color: #01000030;
}

.rating-star {
  color: rgb(186, 166, 21);
}

#filter-block {
  width: 300px;
  display: flex;
  justify-items: center;
  flex-direction: column;
}

#filter-name {
  border: 1px solid rgb(139, 122, 14);
  height: 30px;
  display: flex;
  flex-direction: row;
  clip-path: polygon(
    1% 50%,
    15px 0%,
    calc(100% - 15px) 0%,
    99% 50%,
    calc(100% - 15px) 100%,
    15px 100%
  );
  background-color: #fd4;
  overflow: visible;
  min-width: 150px;
  text-align: center;
  line-height: 0;
  align-content: center;
  display: inline-block;
  position: relative;
  color: white;
  font-weight: 500;
  font-size: 1.4rem;
  letter-spacing: 0.3rem;
}

.details-dropdown-buttons-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;

  button {
    width: 200px;
    margin: 4px;
    height: 25px;
  }
}

button {
  clip-path: polygon(
    1% 50%,
    15px 0%,
    calc(100% - 15px) 0%,
    99% 50%,
    calc(100% - 15px) 100%,
    15px 100%
  );
  background-color: rgb(255, 236, 152);
  border: none;
  transition: 0.1s ease-in-out;
  padding: 5px 25px;
}

button:hover:not(.watched-movie-btn) {
  background-color: rgb(251, 226, 113);
}

.banana-selected {
  fill: yellow;
}

.banana-not-selected {
  fill: rgb(141, 185, 53);
}
